.card-container {
    text-align: center;
  }
  
  .card-container .header,
  .card-container .description {
    margin: 0 auto; /* Center horizontally */
    max-width: 80%; /* Adjust as needed */
    color: aliceblue;
  }